<p><id="notice"><%= notice %></p>
<h1>Grades</h1>


<% if session[:teacher_id] %>
<%= link_to "Add Grades", new_grade_path %>
<p><%= student_grades(@student) %></p>
<% end %>

<% if session[:student_id] %>
<p><%= student_grades(@student) %></p>
<% end %>

<% if session[:parent_id] %>
<p><%= student_grades(@student) %></p>
<% end %>
