<p><id="notice"><%= notice %></p>
<h1>Grades</h1>

<% if session[:teacher_id] %>
<td><%= link_to '<button type="button">Add Grade</button>' .html_safe, new_grade_path %></td>
  <p><%= student_grades(@student) %></p>
<% end %>

<% if session[:student_id] %>
  <p><%= student_grades(@student) %></p>
<% end %>

<% if session[:parent_id] %>
  <p><%= student_grades(@student) %></p>
<% end %>
