<h1>Change your Password</h1>
<%= form_for(@student) do |f| %>
<% if @student.errors.any?  %>
<div id="error_explanations">
  <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

  <ul>
    <% @student.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= f.label :old_password %><br>
  <%= f.text_field :old_password %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
