<p> <%= @student.name %> </p>
<td><%= link_to '<button type="button">Edit this student</button>' .html_safe, edit_student_path(@student.id) %><td>
<td><%= link_to '<button type="button">Add parent for this student</button>' .html_safe, new_parent_path(student_id: @student.id) %><td>
<td><%= link_to '<button type="button">Delete this student</button>' .html_safe, @student, method: :delete, data: { confirm: 'Are you sure?' } %><td>
<td><%= link_to '<button type="button">Back</button>' .html_safe, teachers_path %><td>

<%= Teacher.find(session[:teacher_id]).name %><br>
<%= session[:student_id] %>
<%= session.class %>
<%= params[:student_id] %>

{ "student_id" => "8", }
