<p> <%= @student.name %> </p>
<%= link_to 'Edit this student', edit_student_path(@student.id) %>
<%= link_to 'Add parent for this student', new_parent_path(student_id: @student.id) %>
<%= link_to 'Delete this student', @student, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', teachers_path %>

<%= Teacher.find(session[:teacher_id]).name %><br>
<%= session[:student_id] %>
<%= session.class %>
<%= params[:student_id] %>

{ "student_id" => "8", }
