<h1>Change your Password</h1>
<%= form_tag teachers_login_change_password_path do %>
  <%= text_field_tag :old_password, nil, placeholder: "Old Password" %>
  <!-- Email: <%= text_field_tag :email %> could do this-->
  <!-- nil is the value we want to display -->
  <!-- could be "email", etc. with strings -->
  <%= password_field_tag :new_password, nil, placeholder: "Password" %>
  <%= submit_tag "Change Password" %>

  <% end %>
  <p><%= link_to '<button type="button">Back</button>' .html_safe, teachers_path %></p>
