<p><id="notice"><%= notice %></p>

<p>Welcome to Gradebook, <%=session[:name]%> !</p>


<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student.id) %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<td><%= link_to '<button type="button">New Student</button>' .html_safe, new_student_path %></td>

<h3>Teachers</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.name, edit_teacher_path(teacher.id) %></td>
        <td><%= teacher.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<td><%= link_to '<button type="button">New Teacher</button>' .html_safe, new_teacher_path %></td>
