<p><id="notice"><%= notice %></p>

<h1>Teachers</h1>

<%= link_to "New Teacher", new_teacher_path %>
<% @teachers.each do |teacher| %>
  <p><%= teacher.name %></p>
<% end %>


<%= link_to "New Student", new_student_path %>
<% @all_students.each do |student| %>
  <p><%= student.name %></p>
<% end %>
