<p><id="notice"><%= notice %></p>

<!-- <% @all_students.each do |student| %>
<p><%= student.name %></p>
<% end %> -->

<h3>Students</h3>
<table>
  <thead>
    <tr>
      <th>Date Added</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_students.each do |student| %>
      <tr>
        <td><%= student.created_at.to_date %></td>
        <td><%= student.name %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Student", new_student_path %>

<h3>Teachers</h3>
<table>
  <thead>
    <tr>
      <th>Date Added</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.created_at.to_date %></td>
        <td><%= teacher.name %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New Teacher", new_teacher_path %>
