<%= form_for(@parent) do |f| %>
<% if @parent.errors.any?  %>
<div id="error_explanations">
  <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this student from being saved:</h2>

  <ul>
    <% @parent.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password_digest %>
</div>
<div class="field">
  <%= f.label :student_id %><br>
  <%= f.number_field :student_id %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
