<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon4.ico' %>
</head>
<body>

  <% if session[:teacher_id] %> 
    <%= link_to "Log Out", teachers_login_logout_path %> 
  <% end %>

  <% if session[:student_id] %> 
    <%= link_to "Log Out", students_login_logout_path %> 
  <% end %>

  <% if session[:parent_id] %> 
    <%= link_to "Log Out", parents_login_logout_path %> 
  <% end %>

  <%= yield %>

</body>
</html>
