<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon4.ico' %>
</head>
<body>

  <% if session[:teacher_id] %> 
    
    <td><%= link_to '<button type="button">Log Out</button>' .html_safe, teachers_login_logout_path %></td> 
    <td><%= link_to '<button type="button">Change Password</button>' .html_safe, teachers_login_logout_path %></td>
  <% end %>

  <% if session[:student_id] %> 
    <td><%= link_to '<button type="button">Log Out</button>' .html_safe, students_login_logout_path %></td> 
    <td><%= link_to '<button type="button">Change Password</button>' .html_safe, students_login_logout_path %></td>
  <% end %>

  <% if session[:parent_id] %> 
    <td><%= link_to '<button type="button">Log Out</button>' .html_safe, sparents_login_logout_path %></td> 
    <td><%= link_to '<button type="button">Change Password</button>' .html_safe, parents_login_logout_path %></td>
  <% end %>

  <%= yield %>

</body>
</html>
